.sidebarChat{
    display: flex;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid #f6f6f6;
}

.sidebarChat:hover{
    background: rgb(247,238,209);
background: linear-gradient(90deg, rgba(247,238,209,1) 34%, rgba(255,240,153,1) 94%);
}

.sidebarChat_info > h3{
    
    font-size: 16px;
    margin: 0px;
}

.sidebarChat_info > p{
    
    margin: 0px;
}

.sidebarChat_info{
    margin-left: 15px;
}


a {
    text-decoration: none;
    color: rgb(172, 160, 53);
}